body {
    background-color: white;

}

body.dark-mode {
    background-color: black;
    color: #6b6b6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #ff8418;
    --secondary-color: #2E2070;
}




/* **************************************** header Section *********************************** */
#header {
    background:
        linear-gradient(0deg, rgba(46, 32, 112, 0.9),
            rgba(46, 32, 112, 0.5)),
        url('../images/landing_bg.webp') no-repeat;
    background-size: cover;

}


#header .navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.collapse {
    width: fit-content;
    flex-grow: 0;
}


#header .navbar li a {
    font-weight: 600;
    color: #ffffff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#header .navbar li a:hover {
    color: #FD7600;
    border-bottom: 2px solid #FD7600;
}





#header .navbar .btn {
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 50rem;
}

#header .navbar .btn:hover {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
}



#header .content .left span {
    font-size: calc(1.275rem + .3vw);
    margin-bottom: 1rem;
    color: white;
}

#header .content .left h1 {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: white;
}

#header .content .left p {
    margin-bottom: 0.5rem;
    color: white;
}

#header .content .left button {
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 50rem;
    outline: none;
    border: none;
    transition: 0.5s ease-in;
}

#header .content .left button:hover {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
}


#header .content .right .img-box {
    float: right;
}

#header .content .right .img-box img {
    width: 100%;
    max-width: 600px;
    animation: upDown 3s infinite alternate ease-in-out;

}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
    fill: #d5c1e9;
    opacity: 0.6;
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

.wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
    fill: #d5c1e9;
    opacity: 0.4;
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
    fill: #d5c1e9;
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}


@media only screen and (max-width: 600px) {
    #header .content .left {
        margin: 50px 0 100px 0;
    }

}

















/* **************************************** aboutUs Section *********************************** */
#aboutUs {}

#aboutUs .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left */
#aboutUs .content .left {
    flex: 1;
    flex-direction: column;
    padding-right: 20px;
}

#aboutUs .content .left h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    padding-bottom: .5rem;
    color: #FD7600;
}

#aboutUs .content .left h2 {
    font-weight: 700;
    font-size: calc(1.375rem + 1.5vw);
    line-height: 1.2;
    color: #3E2D8F;
}

#aboutUs .content .left p {
    color: #6B6B6B;
}

#aboutUs .content .left button {
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: #ffffff;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 50rem;
    border: none;
    outline: none;
    cursor: pointer;
}

#aboutUs .content .left button:hover {
    background: linear-gradient(to bottom, rgba(62, 45, 143), rgba(157, 82, 172, 0.7));
}

/* right */
#aboutUs .content .right {
    flex: 1;
    padding-left: 20px;
}

#aboutUs .content .right .box {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: dense;
}

#aboutUs .content .right .box .img1 {
    grid-row: span 2;
    display: flex;
    justify-content: center;
}

#aboutUs .content .right .box .img1 img,
#aboutUs .content .right .box .img img {
    transition: transform 0.5s ease;
    max-width: 100%;
    height: auto;
}

#aboutUs .content .right .box .img {
    display: flex;
    justify-content: center;

}

#aboutUs .content .right .box .img1 img:hover,
#aboutUs .content .right .box .img img:hover {
    transform: scale(0.9);
}


@media (max-width: 1024px) {
    #aboutUs .content {
        flex-direction: column;
        text-align: center;
    }

    #aboutUs .content .left,
    #aboutUs .content .right {
        padding: 10px;
        width: 100%;
    }

    #aboutUs .content .right .box {
        grid-auto-rows: auto;
    }

}

@media (max-width: 768px) {
    #aboutUs .content {
        flex-direction: column;
        gap: 20px;
    }

    #aboutUs .content .left h2 {
        font-size: 1.5rem;
    }

    #aboutUs .content .left p {
        font-size: 1rem;
    }

    #aboutUs .content .right .box {
        grid-template-columns: 1fr;
        /* خلي الصور في عمود واحد */
        grid-gap: 15px;
    }

    #aboutUs .content .right .box .img1 img,
    #aboutUs .content .right .box .img img {
        width: 100%;
    }

}

@media (max-width: 480px) {
    #aboutUs .content .left h4 {
        font-size: 1rem;
    }

    #aboutUs .content .left button {
        padding: 10px 20px;
        font-size: 14px;
    }

    #aboutUs .content .right .box .img1 img,
    #aboutUs .content .right .box .img img {
        width: 100%;
    }

}









/* **************************************** Forecast Section *********************************** */
#forecast {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
    position: relative;

}

.f1,
.f2 {
    position: absolute;
    width: 150px;
    z-index: 10;
}

.f1 {
    top: -80px;
    right: 30px;
    transform: rotate(18deg);
}

.f2 {
    left: 0;
    bottom: 0;
    transform: rotate(-18deg);
}

#forecast .top h2 {
    font-weight: bold;
    color: white;
}

#forecast .top p {
    color: white;
}

#forecast .top form select {
    width: 70%;
    background-color: transparent;
    padding: 15px;
    outline: none;
    border: 1px solid white;
    border-radius: 0.3rem;
    color: white;

}

#forecast .top form select option {
    color: black;
}


#forecast .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

#forecast .content .left,
#forecast .content .right {
    background: linear-gradient(to bottom, rgba(62, 45, 143), rgba(157, 82, 172, 0.7));
    border-radius: 1rem;

}

#forecast .content .left .sun {
    animation: rotate-smooth 9s linear infinite;
    padding: 20px;
}

@keyframes rotate-smooth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#forecast .content .left h2 {
    font-weight: 700;
    color: white;
}

#forecast .content .left p {
    font-size: calc(1.275rem + .3vw);
    color: white;
}

#forecast .content .right {
    padding: 1rem;
}

#forecast .content .right .date span {
    border-radius: 1rem;
    color: white;
    background-color: #ff8418;

}

#forecast .content .right .date p {
    color: white;
    font-weight: 600;
    margin: 0;
}

#forecast .content .right .data {
    border-top: 1px solid #dee2e6;
    color: white;
}

#forecast .content .right .data img {
    height: 50px;
    margin-bottom: 0.5rem;
    animation: zoomInOut 2s infinite ease-in-out;
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }
}


@media only screen and (max-width: 600px) {
    #forecast .content .left {
        margin: 20px 0;
    }

    #forecast .content {
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 992px) {
    #forecast .content .left {
        margin: 20px 0;
    }

    #forecast .content {
        margin-bottom: 0;
    }
}





/* global elements */
.section-title {}

.section-title h2 {
    font-weight: 700;
    font-size: calc(1.375rem + 1.5vw);
    color: #3E2D8F;
}

.section-title p {
    color: #6B6B6B;
}




/* **************************************** history Section *********************************** */
#history {}

#history .content .item {
    width: 22%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    margin: 20px 15px;
    height: 280px;

}


#history .content .item img {
    height: 100px;
    margin-bottom: 0.5rem;
    animation: zoomInOut 2s infinite ease-in-out;
}

#history .content .item h4 {
    color: #3E2D8F;
    font-weight: 600;
    font-size: calc(1.275rem + .3vw);
    margin-bottom: 1rem;
}

#history .content .item:hover {
    background-image: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
    cursor: pointer;

}

#history .content .item:hover h4 {
    color: white;
}

@media only screen and (max-width: 600px) {
    #history .content {
        padding: 20px;
    }

    #history .content .item {
        width: 100%;
    }

}







/* **************************************** weather Section *********************************** */
#weather {}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 25px;
    font-weight: bold;
    color: #3E2D8F;
}







/* **************************************** country Section *********************************** */
#country {}

#country .content {}

#country .content .item {
    width: 22%;
    padding: 2rem 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
    border-radius: 1rem;
    margin-bottom: 30px;

}

#country .content .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

#country .content .item .box {
    background-color: #ffffff;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 1rem;
}

#country .content .item h3 {
    color: #ffffff;
    padding-top: 1rem;
    font-size: calc(1.275rem + .3vw);
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media only screen and (max-width: 992px) {
    #country .content {
        padding: 20px;
    }

    #country .content .item {
        width: 45%;
    }

}

@media only screen and (max-width: 600px) {
    #country .content {
        padding: 20px;
    }

    #country .content .item {
        width: 100%;
    }

}








/* **************************************** highlight Section *********************************** */
#highlight {}

#highlight .content {}

#highlight .content .card {
    width: 30%;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#highlight .content .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

#highlight .content .card h5 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #3E2D8F;

}

#highlight .content .card p {
    color: #6B6B6B;
    padding: 0.5rem 0;

}

#highlight .content .card a {
    color: #3E2D8F;
    font-weight: 600;

}

#highlight .content .card a:hover,
#highlight .content .card h5:hover {
    color: #FD7600;
    transition: 0.3s ease-in;
}


@media only screen and (max-width: 992px) {
    #highlight .content {
        padding: 20px;
    }

    #highlight .content .card {
        width: 45%;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 600px) {
    #highlight .content {
        padding: 20px;
    }

    #highlight .content .card {
        width: 100%;
        margin-bottom: 20px;
    }

}





/* **************************************** contact Section *********************************** */
#contact {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
    position: relative;
}

#contact .title {
    font-weight: 700;
    color: white;

}

#contact .left {
    display: flex;
    flex-direction: column;
}

#contact .left .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: 2px dashed #ffffff;
    outline-offset: 6px;
    margin-right: 20px;
}

#contact .left .icon i {
    color: #AD2F87;
    font-size: calc(1.3rem + .6vw);
}

#contact .left .text {
    color: white;
    display: flex;
    flex-direction: column;
}

#contact .left .text h4 {
    font-weight: 700;
}


#contact .right {
    background-color: #FBF8FF;

}

#contact .right h4 {
    color: #3E2D8F;
    font-weight: 600;
    margin-bottom: 1rem;

}

#contact .right p {
    color: #6B6B6B;
    margin-bottom: 1rem;
}

#contact .right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .right form .input-box {
    display: flex;
    flex-direction: column;
}

#contact .right form label {
    color: #3E2D8F;
    font-weight: 600;
    margin-bottom: 1rem;
}

#contact .right form input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6B6B6B;

    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none !important;
    margin-bottom: 15px;

    background-color: #EAEAEA;
}

#contact .right form textarea {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width)* 2));
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6B6B6B;

    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none !important;
    margin-bottom: 15px;

    background-color: #EAEAEA;
}

#contact .right form button {
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    outline: none;
    border: none;

    border-radius: 50rem;

    font-weight: 500;

    padding-right: 3rem !important;
    padding-left: 3rem !important;

    transition: 0.5s ease-in;

}

#contact .right form button:hover {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
}




/* **************************************** news Section *********************************** */
#news {}

#news .content {}

#news .content .left h2 {
    color: #3E2D8F;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#news .content .left p {
    color: #6B6B6B;
}

#news .content .right .input-box {
    /* background-color: blue; */
    position: relative;
}

#news .content .right .input-box input {

    padding: 20px;
    font-size: 1rem;
    font-weight: 400;

    color: #6B6B6B;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 50rem;
    outline: none;
    width: 100%;
}

#news .content .right .input-box button {
    border: none;
    outline: none;

    position: absolute;
    right: 2%;
    bottom: 24%;

    z-index: 9;

    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 50rem;
}



.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.overlay h3 {
    margin: 0;
    font-size: 16px;
}

.overlay p {
    margin: 0;
    font-size: 12px;
}




@media only screen and (max-width: 992px) {
    #news .content .right {
        width: 100%;
        margin-top: 30px;
    }


}

@media only screen and (max-width: 600px) {
    #news .content .right {
        width: 100%;
        margin-top: 30px;
    }


}





/* **************************************** footer Section *********************************** */


.footer-section {
    background: linear-gradient(0deg, rgba(46, 32, 112, 0.9), rgba(46, 32, 112, 0.5)), url("../images/Footer-bg.webp") no-repeat;
    background-size: cover
}

.footer-links {
    list-style: none;
}

.footer-link {
    width: 50px;
    height: 50px;
    color: #6B6B6B;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-link:hover {
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    color: #ffffff;
    transition: 0.5s;
}

.last-section {
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%) !important;
}

.footer-links a {
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
}

.footer-links a:hover,
.footer-links a.active,
.footer-links a:focus {
    color: #ff8418 !important;
    box-shadow: none;
    transition: 0.3s ease;
}





/* **************************************** go to top btn  *********************************** */
#go-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.9s ease;
    background: linear-gradient(to bottom, #FD7600 0%, #FFA805 100%);
    cursor: pointer;
}
#go-to-top:hover{
    background: linear-gradient(to bottom, #AD2F87 0%, #2E2070 100%);
}
#go-to-top i{
    font-size: 25px;
    color: white;
    animation: move 1.1s infinite ease-in-out;
}
@keyframes move {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
